body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #888888;
}
header div.entete{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    font-size: 2em;
}
header div.entete img{
    width: 15%;
    aspect-ratio: 1/1;
    margin-top: 5px;
}
header div.entete div.titre{
    text-align: center;
    color: white;
}
header div.entete div.titre h1, header div.entete div.titre h2{
    width: 100%;
}
header div.entete div.titre h1{
    text-transform: uppercase;
}
header div.entete div.titre h2{
    text-decoration: underline;
}
header nav{
    width: 100%;
}
header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 0;
    padding: 0 5px;
    list-style-type: none;
    gap: 10px;
}
header nav ul li{
    padding: 10px 2%;
}
header nav ul li:hover{
    background-color: white;
}
header nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}
header nav ul li:hover a{
    color: black;
}
div.container{
    display: grid;
    /* lignes / colonnes */
    grid-template: auto / 1fr 2fr;
    gap: 10px;
}
main, aside{
    background-color: bisque;
}
section, article{
    margin: 5px;
    padding-left: 10px;
    font-size: 1.5em;
    text-align: justify;
    border-bottom: 3px solid #888888;
}
div.dataItem{
    border-top: 3px solid white;
}
div.dataItem p.intitule{
    width: fit-content;
    font-weight: bold;
    border-bottom: 2px solid orange;
}
footer{
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #888888;
}
form{
    display: grid;
    /* lignes / colonnes */
    grid-template: auto / 1fr 1fr;
    width: 60%;
    margin: 50px auto;
    padding: 10px 5%;
    border: 3px solid bisque;
    border-radius: 15px;
}
div.input{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 100%;
    margin: 30px auto;
}
label{
    width: 100%;
}
button{
    width: 30%;
    margin: 30px auto;
}
footer h2{
    margin: 0;
    padding: 25px;
}